@use '../../styles/variables.scss' as *;

.header {
  padding: 1.2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $secondBackgroundColor;
  color: $primaryTextColor;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.burgerBtn {
  cursor: pointer;
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-size: 0;
  color: transparent;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.navMenu {
  display: flex;
  gap: 8rem;
}

@media screen and (min-width: 768px) {
  .navMenu {
    justify-content: space-evenly;
    align-items: center;
  }
  .logo {
    margin-left: 16.4rem;
  }
}

.navContainer {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.dropDown {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem;
  border: transparent solid 2px;
  border-radius: 0.4rem;
  background-color: transparent;
  color: $primaryTextColor;

  &:hover {
    cursor: pointer;
  }
}

.dropDownMenu {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #232323;
  padding: 1.6rem;
  position: absolute;
  right: 4rem;
  top: 8rem;
  border-radius: 0.5rem;

  button {
    background-color: transparent;
    border: none;
    color: $primaryTextColor;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }
}