@use '/styles/variables.scss' as *;

.hero {
  width: 100%;
  background-color: $secondBackgroundColor;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.infoContainer {
  padding-inline: 3.4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}

.titlesWrapper {
  max-width: 61rem;
  padding-top: 11.5rem;
  text-align: center;
  display: grid;
  place-content: center;
}

.title {
  margin-bottom: 3rem;
  font-size: 36px;
  line-height: 120%;
  color: $primaryTextColor;
}

.desc {
  margin-bottom: 4rem;
  color: $secondaryTextColor;
}

.btnWrapper {
  border-radius: 0.6rem;
  background-image: linear-gradient(101deg, #F58523, #BD4E80, #2ABCDA);
  width: 12.5rem;
  height: 4.3rem;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.downloadBtn {
  // padding: 1rem 1.8rem;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 100%;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  display: grid;
  place-items: center;
  color: $primaryTextColor;
  width: 12.2rem;
  height: 4rem;
  border-radius: 0.6rem;
  border: none;

  background-color: $secondBackgroundColor;

  padding-bottom: 0;
  background-size: 0;

  &:hover {
    background-image: linear-gradient(101deg, #F58523, #BD4E80, #2ABCDA);
    cursor: pointer;
  }
}

.logoContainer {
  position: relative;
  aspect-ratio: 1 / 1;
  width: min(35.4rem, 100%);
  margin: 0 auto;
}

@media screen and (min-width: $breakpoint) {
  .infoContainer {
    padding-inline: 16rem;
    padding-block: 7rem;
  }
  .titlesWrapper {
    text-align: start;
  }
  .title {
    font-size: 5rem;
  }
  .btnWrapper {
    width: 14rem;
    height: 5rem;
    margin: 0;
  }
  .downloadBtn {
    width: 13.7rem;
    height: 4.7rem;
  }
  .logoContainer {
    width: 47.1rem;
  }
}