@use 'styles/variables.scss' as *;

.gradientBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(270.17deg, #0098D8 4.82%, #BD4E80 52.07%, #F58523 99.85%);
    border-radius: 5px;
    border: none;
    padding-block: 1.5rem;
    padding-inline: 2.4rem;
    color: $primaryTextColor;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.2rem;
    position: absolute;
    bottom: 3rem;
    left: 3rem;
  
    &:hover {
      cursor: pointer;
      transform: translateY(-0.5rem);
      transition: 0.2s ease-in-out;
    }
  }
  