@use '/styles/variables.scss' as *;

.container {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}

.buttons {
  width: 3rem;
  height: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.8rem;
  background: none;
  background-color: $thirdBackgroundColor;
  box-shadow: 0px 12.625px 25.25px rgba(43, 47, 66, 0.1);
  display: grid;
  place-items: center;
  transition: all 0.3s ease-out;

  &:hover {
    transition: all 0.1s ease-in;
    cursor: pointer;
    box-shadow: none;
  }
}

.left {
  @extend .buttons;
  transform: rotate(90deg);

  &:hover {
    transform: scale(1.12) rotate(90deg);
  }

  &:active {
    transform: scale(0.8) rotate(90deg);
  }
}

.right {
  @extend .buttons;
  transform: rotate(-90deg);
  
  &:hover {
    transform: scale(1.12) rotate(-90deg);
  }

  &:active {
    transform: scale(0.8) rotate(-90deg);
  }
}