@use 'styles/variables.scss' as *;

.techSection {
  background-color: $secondBackgroundColor;
  padding-inline: 3.7rem;
  padding-block: 8.8rem;
  color: $primaryTextColor;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  .info {
    max-width: 42.8rem;
  }
}

.title {
  color: $primaryTextColor;
  margin-bottom: 3.5rem;
}

.subtitle {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
.description {
  color: $secondaryTextColor;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 38rem;
}

@media screen and (min-width: 428px) {
  .techSection {
    padding-inline: 18.5rem;
  }
  .title {
    margin-bottom: 5rem;
  }
}