@use 'styles/variables.scss' as *;

.techSection {
  background-color: $secondBackgroundColor;
  padding-inline: 3.7rem;
  padding-block: 8.8rem;
  color: $primaryTextColor;
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;

  .info {
    max-width: 42.8rem;
  }
}

.title {
  color: $primaryTextColor;
  margin-bottom: 3.5rem;
}

.subtitle {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
.description {
  color: $secondaryTextColor;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 38rem;
}

.logoFilter {
  padding: 1rem !important;
  // filter:  saturate(150%) brightness(50%);
  filter: grayscale(100%) brightness(0.8) contrast(0.6);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;

  &:hover {
    transform: scale(1.1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  }

  &:active {
    transform: scale(0.8);
  }
}

.logo {
  width: 5.5rem;
  height: 5.6rem;
}

.atomContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto 8rem auto;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.rings {
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  display: grid;
  place-items: center;
}

.techSmall {
  width: 5rem;
  height: 5rem;
  clip-path: circle(50% at center);
  background-color: $secondBackgroundColor;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 1rem 1rem $primaryBackgroundColor;

  &:hover {
    cursor: pointer;
  }

  &:hover .logoFilter {
    filter: none;
  }
}

.techMedium {
  width: 6rem;
  height: 6rem;
  clip-path: circle(50% at center);
  background-color: $secondBackgroundColor;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 1rem 1rem $primaryBackgroundColor;

  &:hover {
    cursor: pointer;
  }
  &:hover .logoFilter {
    filter: none;
  }
}

.techLarge {
  width: 6rem;
  height: 6rem;
  clip-path: circle(50% at center);
  background-color: $secondBackgroundColor;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 1rem 1rem $primaryBackgroundColor;

  &:hover {
    cursor: pointer;
  }
  &:hover .logoFilter {
    filter: none;
  }
}

.innerRing {
  @extend .rings;
  aspect-ratio: 1 / 1;
  width: 40vw;
  max-width: 14.8rem;
  height: auto;
  border: 2px solid $secondaryColor;
  z-index: 3;
  &:hover {
    box-shadow: 0 0 1rem 0 rgba($secondaryColor, 0.4);
  }
}

.midRing {
  @extend .rings;
  aspect-ratio: 1 / 1;
  width: 60vw;
  max-width: 21.6rem;
  height: auto;
  background-color: transparent;
  border: 2px solid $thirdColor;
  &:hover {
    box-shadow: 0 0 1rem 0 rgba($thirdColor, 0.4);
    // animation: techsAtomReverse 42s linear infinite;
  }
  z-index: 2;

  transform: rotate(-5deg);

  .dots {
    position: absolute;
    width: 7.11px;
    height: 7.11px;
    border-radius: 50%;
    background: #53BBE2;
    box-shadow: 0 0 1px 4px rgba(#53BBE2, 0.4);
  }

  .dot1 {
    @extend .dots;
    position: absolute;
    top: 25%;
    left: 5%;
    transform: translate(-50%, 0);
  }
  .dot2 {
    @extend .dots;
    position: absolute;
    top: 25%;
    right: 5%;
    transform: translate(50%, 0);
  }
  .dot3 {
    @extend .dots;
    position: absolute;
    bottom: 25%;
    left: 5%;
    transform: translate(-50%, 0);
  }
  .dot4 {
    @extend .dots;
    position: absolute;
    bottom: 25%;
    right: 5%;
    transform: translate(50%, 0);
    width: 7.11px;
  }
  .dot5 {
    @extend .dots;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

.largerRing {
  @extend .rings;
  aspect-ratio: 1 / 1;
  width: 80vw;
  max-width: 29.9rem;
  height: auto;
  margin: 0 auto;
  // width: 29.9rem;
  // height: 29.9rem;
  border: 2px solid $primaryColor;
  &:hover {
    box-shadow: 0 0 1rem 0 rgba($primaryColor, 0.4);
  }
  z-index: 1;
  // animation: techsAtom 62s linear infinite;
}


/* Main techs only, there's a max of 13 for performance */
.innerTech1 {
  @extend .techSmall;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -40%) scale(0.8);
}

.innerTech2 {
  @extend .techSmall;
  position: absolute;
  right: 0;
  bottom: 10%;
  transform: translate(0, 50%) scale(0.8);
}

.innerTech3 {
  @extend .techSmall;
  position: absolute;
  left: 0;
  bottom: 30%;
  transform: translate(-50%, 0) scale(0.8);
}

.middleTech1 {
  @extend .techMedium;
  position: absolute;
  left: 10%;
  top: 0;
  transform: translate(0, -30%) rotate(4deg) scale(0.7);
}

.middleTech2 {
  @extend .techMedium;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-30%, -20%) rotate(4deg) scale(0.7);
}

.largeTech1 {
  @extend .techLarge;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-30%, 70%) scale(0.8);
}

.largeTech2 {
  @extend .techLarge;
  position: absolute;
  bottom: 50%;
  right: 0;
  transform: translate(50%, 90%) scale(0.8);
}

.largeTech3 {
  @extend .techLarge;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, 70%) scale(0.8);
}

.largeTech4 {
  @extend .techLarge;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -40%) scale(0.8);
}

.largeTech5 {
  @extend .techLarge;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(15%, -5%) scale(0.8);
}

.largeTech6 {
  @extend .techLarge;
  position: absolute;
  bottom: 40%;
  left: 0;
  transform: translate(-50%, 50%) scale(0.8);
}

.largeTech7 {
  @extend .techLarge;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 60%) scale(0.8);
}

.largeTech8 {
  @extend .techLarge;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-20%, 0) scale(0.8);
}

/* Atom animation, rotating the element 360deg */

@-webkit-keyframes techsAtom {
  from { -webkit-transform: rotate(0deg) translateX(50%) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX(50%) rotate(-360deg); }
}

@-moz-keyframes techsAtom {
  from { -moz-transform: rotate(0deg) translateX(50%) rotate(0deg); }
  to   { -moz-transform: rotate(360deg) translateX(50%) rotate(-360deg); }
}

@-o-keyframes techsAtom {
  from { -o-transform: rotate(0deg) translateX(50%) rotate(0deg); }
  to   { -o-transform: rotate(360deg) translateX(50%) rotate(-360deg); }
}

@keyframes techsAtom {
  from { transform: rotate(0deg) }
  to   { transform: rotate(360deg) }
}
@keyframes techsAtomReverse {
  from { transform: rotate(360deg) }
  to   { transform: rotate(0deg) }
}

@media screen and (min-width: 428px) {
  .techSection {
    padding-inline: 18.5rem;
  }
  .logo {
    width: 9.965rem;
    height: 10.2rem;
  }

  .innerRing {
    width: 25.2rem;
    max-width: 25.2rem;
  }
  .midRing {
    width: 38.6rem;
    max-width: 38.6rem;
  }
  .largerRing {
    width: 53.5rem;
    max-width: 53.5rem;
  }
  .techSmall {
    width: 6.2rem;
    height: 6.2rem;
  }
  .techMedium {
    width: 7.5rem;
    height: 7.5rem;
  }
  .techLarge {
    width: 9rem;
    height: 9rem;
  }
  .innerTech2 {
    transform: translate(0, 1rem) scale(0.8);
  }
  .middleTech1 {
    transform: translate(30%, -30%) rotate(4deg) scale(0.7);
  }
  .middleTech2 {
    transform: translate(-30%, 10%) rotate(4deg) scale(0.7);
  }
  .largeTech1 {
    transform: translate(-30%, 106%) scale(0.8);
  }
  .largeTech3 {
    transform: translate(0%, 70%) scale(0.8);
  }
  .largeTech5 {
    transform: translate(39%, -24%) scale(0.8);
  }
  .largeTech8 {
    transform: translate(-30%, -42%) scale(0.8);
  }
}