@use 'styles/variables.scss' as *;
@import '../../../styles/breakpoints.scss';
.techSectionWrapper {
  background-color: $secondBackgroundColor;
  padding-inline: 3.7rem;
  padding-block: 8.8rem;
  color: $primaryTextColor;
}

.techSection {
  max-width: 1056px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  .info {
    max-width: 38rem;
    @include media-breakpoint("xs"){
      max-width: 100%;
    }
  }
}

.containerAtomo{

  
  @include media-breakpoint("xs"){
    min-width: 14rem;
  }
  flex: 1;
  display: flex;

}

.title {
  color: $primaryTextColor;
  margin-bottom: 3.5rem;
}

.subtitle {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
.description {
  color: $secondaryTextColor;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 38rem;
 

}

@media screen and (min-width: $breakpoint) {
  .title {
    margin-bottom: 5rem;
  }
}