@use 'styles/variables.scss' as *;

.container {
  background-color: $primaryBackgroundColor;
  color: $primaryTextColor;
  padding: 6rem 0 6rem 0;
}

.sliderContainer {
  :global(.swiper-pagination-bullets) {
    transform: translate(-50%, 1rem) !important;
  }
  :global(.swiper-pagination-bullet) {
    width: 12px;
    height: 12px;
    background-color: $thirdBackgroundColor;
    opacity: 1;
  }
  :global(.swiper-pagination-bullet-active) {
    width: 8.54px;
    height: 8.54px;
    background-color: $primaryTextColor;
  }

  .logoContainer {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    margin-block: 3.6rem;
    padding-right: 2.2rem;
    transition: transform 0.3s ease-out;
    transform: scale(1.1);
    filter: grayscale(100%) contrast(0.5);

    span {
      margin-inline: 2.2rem !important;
    }
  }

  .logoActive {
    transition: transform 0.3s ease-in;
    transform: scale(1.25);
    filter: grayscale(0) saturate(1.5) drop-shadow(0 0 0.5rem rgb(31, 30, 30));
    border-inline: 1px solid $thirdBackgroundColor;
  }
}

.subtitle {
  padding-inline: 6rem;
  text-align: center;
}

@media screen and (min-width: $breakpoint) {
  .sliderContainer {
    width: 70%;
    max-width: 1440px;
    margin: 0 auto;

    .logoContainer {
      margin-block: 4.4rem;
      width: 21.2rem;
      // padding: 4rem 3.2rem 4rem 0;
      padding: 4rem 0 4rem 0;
      // transform: scale(0.8);
      transition: transform 0.45s ease-out;
      
      span {
        padding-inline: 1rem;
        margin-inline: 4.2rem !important;
        transition: transform 0.45s ease-in;
      }
    }
    .logoActive {
      transform: scale(1.2);
    }
  }
}