@use '/styles/variables.scss' as *;


.section {
  background-color: $primaryBackgroundColor;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 5rem 3.6rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(min(35rem, 100%), 35rem));
  grid-template-rows: repeat(auto, 21.7rem);
  place-content: center;
  place-items: center;
}

.card {
  width: min(35rem, 100%);
  height: 21.7rem;
  background-color: $secondBackgroundColor;
  display: grid;
  place-items: center;
  place-content: center;
  gap: 1rem;
  border-radius: 1rem;
  text-align: center;
  padding: 4rem;

  .title {
    color: $primaryTextColor;
  }

  .desc {
    color: $secondaryTextColor;
  }
}