@use "/styles/variables.scss" as *;

.section {
  padding-inline: 5rem;
  padding-block: 10rem;
  background: #1f1f1f;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 13rem;
}

.customers {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;

  .hexagonC1 {
    display: flex;
    flex-direction: row;
  }

  .hexagon {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 5.65rem;
    background: $secondBackgroundColor;
    position: relative;
    margin: 0.4rem;
    border-radius: 2px;

    .image {
      z-index: 2;
      position: absolute;
      width: 70%;
      height: auto;
      filter: grayscale(100%) brightness(0.8) contrast(0.4);
    }
  }

  .hexagon:before,
  .hexagon:after {
    content: "";
    width: 100%;
    height: 100%;
    background: $secondBackgroundColor;
    position: absolute;
  }

  .hexagon:before {
    transform: rotate(60deg);
  }

  .hexagon:after {
    transform: rotate(-60deg);
  }

  .hexagon,
  .hexagon:before,
  .hexagon:after {
    // background: transparent;
    // border: 1px solid #fff;
    border-left: 1.5px solid rgb(97, 97, 97);
    border-right: 1.5px solid rgb(97, 97, 97);
    border-radius: 2px;
  }

  .hexagonTop {
    @extend .hexagon;
    position: absolute;
    top: 0;
    left: 58px;
    margin: 0;
    transform: translate(-0%, -85%);
    z-index: 0;
  }
  .hexagonTop,
  .hexagonTop:before,
  .hexagonTop:after {
    // background: transparent;
    // border: 1px solid #fff;
    border-left: 0.5px solid rgb(70, 70, 70);
    border-right: 0.5px solid rgb(70, 70, 70);
    border-radius: 2px;
  }

  .hexagonMedium {
    @extend .hexagon;
    position: absolute;
    bottom: 0;
    left: 0px;
    margin: 0;
    transform: translate(-10%, -40%);
    z-index: 0;
  }
  .hexagonMedium,
  .hexagonMedium:before,
  .hexagonMedium:after {
    // background: transparent;
    // border: 1px solid #fff;
    border-left: 0.5px solid rgb(70, 70, 70);
    border-right: 0.5px solid rgb(70, 70, 70);
    border-radius: 2px;
  }
  .hexagonBottom {
    @extend .hexagon;
    position: absolute;
    bottom: -50px;
    margin: 0;
    transform: translate(0%, -0%);
    z-index: 0;
  }
  .hexagonBottom,
  .hexagonBottom:before,
  .hexagonBottom:after {
    // background: transparent;
    // border: 1px solid #fff;
    border-left: 0.5px solid rgb(70, 70, 70);
    border-right: 0.5px solid rgb(70, 70, 70);
    border-radius: 2px;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  color: #ffff;
  gap: 2rem;

  .title {
    font-family: $headingFont;
    font-weight: 400;
    font-size: 42px;
    line-height: 42px;
    text-transform: capitalize;
  }

  .titleSmall{
    font-family: $mainFont;
    font-weight: 250;
    font-size: 42px;
    line-height: 42px;
    text-transform: capitalize;
  }
  .paragraph {
    font-family: $mainFont;
    color: $secondaryTextColor;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}
.btn{
  position: absolute;
  bottom: -80px;
  left: 0;
}

@media screen and (min-width: $breakpoint) {
  .wrapper {
    flex-direction: row;
  }
  .section {
    padding-inline: 10.4rem;
    padding-block: 16.5rem;
  }

  .customers {
    .hexagon {
      width: 15rem;
      height: 8.5rem;
      margin: 1rem;
    }
    .hexagonTop {
      @extend .hexagon;
      position: absolute;
      top: 0;
      left: 85px;
      margin: 0;
      transform: translate(7%, -85%);
      z-index: 0;
    }

    .hexagonMedium {
      @extend .hexagon;
      position: absolute;
      bottom: 0;
      left: 0px;
      margin: 0;
      transform: translate(-10%, -40%);
      z-index: 0;
    }
    .hexagonBottom {
      @extend .hexagon;
      position: absolute;
      bottom: -50px;
      margin: 0;
      transform: translate(0%, 20%);
      z-index: 0;
    }
  }
  .btn{
    bottom: -100px;
  }
}
