@use 'styles/variables.scss' as *;

.aboutSection {
  margin-bottom: 8rem;
}

.subtitle {
  color: $primaryTextColor;
  text-align: center;
  margin-bottom: 3.5rem;
}

.videoContainer {
  :global(.react-player__preview) {
    aspect-ratio: 16 / 9;
    border-radius: 2.2rem;
    width: 100%;
    max-width: 91.6rem;
    height: auto;
  }

  :global(.react-player__play-icon) {
    display: none;
  }
}

.videoContainer {
  border-radius: 2.2rem;
  width: 91.6rem;
  height: auto;
  aspect-ratio: 16 / 9;
  max-width: 91.6rem;
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: $primaryBackgroundColor;
  background: linear-gradient(110deg, $thirdBackgroundColor 8%, $secondBackgroundColor 18%, $primaryBackgroundColor 33%);
  // animation-duration: 1.5s;
  // animation-timing-function: ease-in-out;
  // animation-iteration-count: infinite;
  // animation-fill-mode: forwards;
  // animation-play-state: running;
  // animation-name: shine;
}

.reactPlayer {
  aspect-ratio: 16 / 9;
  border-radius: 1rem;
  width: 100%;
  height: auto;

  &::after {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    border-radius: 2.2rem;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
  }
}

// @keyframes shine {
//   to {
//     background-position-x: 80%;
//   }
// }