@use '../../../../styles/variables.scss' as *;

.container {
    background-color: $primaryBackgroundColor;
    padding-inline: 3.7rem;
    padding-top: 7.4rem;
    padding-bottom: 7.5rem;
    position: relative;
}

.sliderContainer {
    margin-bottom: 3.26rem;
}

.itemsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
}


.subtitle {
    color: $primaryTextColor;
    margin: 0 auto 5rem auto;
    text-align: center;
}

.cards {
    height: 33.9rem;
    width: 100%;
    border-radius: 0.8rem;
}

.card1 {
    @extend .cards;
    background-color: $primaryTextColor;
    max-width: 44.7rem;
}
.card2 {
    @extend .cards;
    background-color: #53BBE2;
    max-width: 35.3rem;
}

.BtnWrapper {
    padding-inline: 3.7rem;
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 428px) {
    .container{
        padding-inline: 30.5rem;
    }
    .itemsContainer {
        justify-content: center;
        gap: 2.7rem;
    }
}