@use '../../../styles/variables.scss' as *;

.modal {
  background-color: $primaryBackgroundColor;
  background-image: url('/svg/bg-cit-dots.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: fixed;
  top: 0; bottom: -18vw;
  left: 0; right: 0;
  z-index: 10;
  overflow-y: scroll;
  transition: all 0.3s ease-in-out;

  // direct node children
  >div {
    background-image: linear-gradient(179.17deg, $primaryBackgroundColor 0.71%, rgba(31, 31, 31, 0) 180.8%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navContainer {
  position: absolute;
  padding: 4rem;
  margin: 0 auto;
  width: 90%;
  max-width: 35.4rem;
  height: 76%;
  max-height: 70.3rem;
  font-size: 1rem;

  background: #262626;
  border-radius: 1rem;
  color: $primaryTextColor;
  overflow-y: scroll;

  .navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
}

.dropDown {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem;
  border: transparent solid 2px;
  border-radius: 0.4rem;
  background-color: transparent;
  color: $primaryTextColor;
  margin-top: 7rem;
  margin-inline: auto;
}

.dropDownMenu {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #232323;
  padding: 1.6rem;
  position: fixed;
  right: auto;
  left: auto;
  bottom: 10%;
  border-radius: 0.5rem;

  button {
    background-color: transparent;
    border: none;
    color: $primaryTextColor;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.arrowIcon {
	transform: rotate(0);
	transition: all 0.2s ease-out;
}

.arrowIconActive {
	transform: rotate(180deg);
	transition: all 0.2s ease-in;
}

.arrowLeft {
	transform: rotate(180deg);
	scale: 0.8;
}

.backToHome {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	position: relative;
	top: 2rem;
}