@use './variables.scss' as *;

.aboutAndServices {
  position: relative;
  background: rgb(47,47,47);
  background: -moz-linear-gradient(185deg, rgba(47,47,47,1) 20%, rgba(31,31,31,1) 100%);
  background: -webkit-linear-gradient(185deg, rgba(47,47,47,1) 20%, rgba(31,31,31,1) 100%);
  background: linear-gradient(to bottom, $secondBackgroundColor 10%, $primaryBackgroundColor 90%);
  // background: linear-gradient(to bottom, $thirdBackgroundColor 50%, $primaryBackgroundColor 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f2f2f",endColorstr="#1f1f1f",GradientType=1);
  padding-top: 6.2rem;
  padding-inline: 2.1rem;
  padding-bottom: 8.8rem;
}

// Decorations

/* Creating a diamond shape. */
.diamond {
  position: absolute;
  width: 4.879rem;
  height: 4.879rem;
  bottom: 0;
  left: 50%;
  background: $primaryBackgroundColor;
  transform: translate(-50%, 50%) rotate(-45deg);
}

@media screen and (min-width: $breakpoint) {
  .diamond {
    width: 6.223rem;
    height: 6.223rem;
  }
}
