@use './variables.scss' as *;

// Colors
.mainBackground {
  background-color: $primaryBackgroundColor;
}

.secondaryBackground {
  background-color: $secondBackgroundColor;
}

// Typography
.textStyles {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 400;
}

.textSmall {
  @extend .textStyles;
  font-size: 1.4rem;
  line-height: 2.6rem;
  /* or 14px */

  letter-spacing: -0.011rem;
}

.textMedium {
  @extend .textStyles;

  font-size: 1.8rem;
  line-height: 160%;
}

.headingStyles {
  font-family: $headingFont;
  font-style: normal;
  font-weight: 700;
}

.headingLarge {
  @extend .headingStyles;

  font-size: 2.6rem;
  line-height: 164%;
}

.headingMedium {
  @extend .headingStyles;
  
  font-size: 2.2rem;
  line-height: 100%;
  /* or 36px */
  
  text-transform: capitalize;
}

.headingSmall {
  @extend .headingStyles;

  font-size: 2rem;
  line-height: 100%;
  /* or 20px */

  text-transform: capitalize;
}

@media screen and (min-width: 428px) {
  .headingLarge {
    font-size: 4rem;
    line-height: 5rem;
  }
  .headingMedium {
    font-size: 3rem;
  }
  .textSmall {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}