// CIT colors
$primaryBackgroundColor: #1F1F1F;
$secondBackgroundColor: rgba(rgba(31, 31, 31, 1), 0.8);

$primaryColor: '#F58523';
$secondaryColor: '#BD4E80';
$thirdColor: '#2ABCDA';

// CIT typography
$mainFont: 'Lato', sans-serif;
$headingFont: 'Poppins', sans-serif; // This one is similar to Nexa Bold, but I don't have it